<div>
<!--  headers-->
  <div id="headers"></div>

<!-- TODO - falta implementar los mensajes de error/éxito -->

    <!-- router contents -->
    <div id="maincontent">Loading...</div>

    <footer>
        <br>
        <p>2023 IAmOn</p>
        <p>Brais Rivera & David Santeiro</p>
        <div id="languagecontrol">Loading...</div>
    </footer>
</div>
