<div>
  <div id="headers">
  </div>

<!-- TODO - falta implementar los mensajes de error/éxito -->

<!--    <nav id="menu">-->
<!--        <ul>-->
<!--            <li><a href="#posts">{{i18n 'Posts'}}</a></li>-->
<!--            <li>-->
<!--                <div id="userbar">Loading...</div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->

    <!-- router contents -->
    <div id="maincontent">Loading...</div>

    <footer>
        <br>
        <p>2023 IAmOn</p>
        <p>Brais Rivera & David Santeiro</p>
        <div id="languagecontrol">Loading...</div>
    </footer>
</div>
