<div>
  {{#if isLogged}}

    <header>
      <a href="#dashboard"><img src="img/logo.png" class="logo_iamon" alt="Logo IAmOn"></a>
      <a href="#dashboard">Dashboard</a>

      <div class="user_info">

        {{#if isLogged}}

        <img src="img/user.png" alt="Usuario">
        <p id="user_name">{{i18n "Hello %s" currentUser}}</p>

          <a id="logout_header" >
            <img src="img/logout.svg"  alt="Usuario">
          </a>

        {{else}}

        <a href="#login"><p>{{i18n "Login"}}</p></a>

        {{/if}}
      </div>
    </header>

  {{else}}

    <img src="/img/logo.png" alt="Logo IAmOn" class="logo" height="50">

  {{/if}}
</div>

